services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: worksheet-frontend
    restart: always
    ports:
      - "3001:3001"
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:3005
      - PORT=3001
